@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --a: 0;
}



* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}



body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;


}



.right {
    width: 75vw;
    margin: 20px;
    position: relative;
}

.home {}


.home ul li {
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    margin-top: 14px;
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;

    align-items: center;

}

.heading img {
    width: 23px;
}


.library {
    min-height: 75vh;
    position: relative;

}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0px;
}

.footer a {
    color: grey;
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #0e0d0d;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;

}

.spotifyPlaylists>h1 {
    padding: 20px;

}


.cards {
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    background-color: #0e0d0d;
    font-size: 15px;
    position: relative;
    



}

.cards>h2 {
    font-size: 22px;
}

.cards>* {
    padding-bottom: 10px;
    border-radius: 1px;

}


.cards>img {
    width: 100%;
    object-fit: contain;

}

.cardContainer {
    display: flex;
    margin: 30px;
    overflow-y: auto;
    gap: 15px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 60vh;
    padding-bottom: 43px;
    /* justify-content: center; */


}

/* .play-bg{
    padding: 10px;
    background-color: rgb(25, 212, 8);
    
} */
.play {
    width: 20px;
    height: 20px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 23vh;
    right: 26px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}

.cards:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.buttons>* {
    margin: 0 12px;
}

.signUp {
    width: 100px;
    background-color: #0e0d0d;
    color: rgb(106, 106, 106);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;


}

.signUp:hover {
    color: white;
    font-size: 17px;
}

.logIn {
    width: 100px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
}

.logIn:hover {
    color: rgb(62, 61, 61);
    font-size: 17px;
}

.stree {
    height: 134px;
}

.playBar {
    bottom: 20px;
    background-color: rgb(197, 197, 197);
    width: 65%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    border-radius: 10px;
    filter: invert(1);
    height: 40px;
    transition: bottom 1s 
    cubic-bezier(0, 1, 0.7, 1.72) ;

}
.volume{
    position: relative;
    /* left: 10vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#I {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none; /* Removes default styling in WebKit */
    width: 60%;
    height: 6px; /* Adjust as needed */
    background: #f4eaea; /* Adjust background color */
    outline: none; /* Removes outline */
    opacity: 0.7; /* Adjust opacity */
    transition: opacity .2s;
}

#I:hover {
    opacity: 1;
}

#I::-webkit-slider-thumb {
  
    appearance: none;
    width: 15px; /* Adjust size as needed */
    height: 15px; 
    background: #cc00cb; /* Thumb color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 50%; /* Make thumb round */
}

#I::-moz-range-thumb {
   
    background:  #cc00cb; /* Thumb color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 50%; /* Make thumb round */
}
.plbtn{
    display: flex;

    gap: 35px
}

.songList ul {
    padding: 20px;
    max-height: 50vh;
    overflow-y: scroll;

}

.songList ul li {
    list-style: decimal;
    display: flex;
    gap: 6px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid white;
    margin: 10px -20px;
    padding: 10px;
    border-radius: 6px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    /* //align-items: center; */

}

.songList ul li:hover {
    border: 3px solid rgb(15, 236, 8);

}

.songList ul li img {
    width: 30px;
    height: 60px;
    position: relative;
    bottom: 18px;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.playNow span {
    font-size: 10px;
    width: 64px;
    position: relative;
    bottom: 18px;
    bottom: 0;

}

.info {
    display: flex;
    height: 20px;
    width: 70px;
}
.info > div{
    word-break: break-all;
}

.seekbar {
    height: 2px;
    font: black;
    width: 98%;
    border: 2px solid black;
    position: absolute;
    bottom: 3px;
    background-color: black;
    border-radius: 10px;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #e0209b;
    bottom: 5px;
    left: -2px;
    position: relative;
    transition: left 0.3s;
}
.volume{
    position: relative;
    bottom: 5px;
}

.aboveTrack {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.songButtons {
    display: flex;
    gap: 30px;
}
.volTime{
    display: flex;
    
  
    gap: 10px;
    width: 275px;
}

.songTime {
   
   width: auto;
}
.songInfo{
    width: 25%;
}

.songInfo,
.songTime {
    color: black;
}

.hamburger {
    display: none;
}

.close {
    position: none;
    display: none;

}

#playButton {
    background-color: rgb(15, 14, 14);
    box-shadow: none;
    opacity: 0;
    width: 0;
    height: 0;
    position: relative;
    bottom: 0;
}

@media (max-width:550px) {
    .left {

        position: absolute;
        left: -120%;
        transition: all 1s;
        z-index: 1;
        width: 233px;
        background-color: black;
        width: 100vw;
        padding: 0;

    }

    .close {
        display: block;
        position: absolute;
        left: 85%;
        top: 30px;
    }

    .cardContainer {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        overflow-y: auto;
        gap: 25px;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 60vh;
        
        justify-content: center;
        /* justify-content: start; */


    }

    .buttons {
        display: flex;

    }

    .right {
        width: 90%;
    }


    .songList ul {
        width: 90%;
        margin: auto;
    }

    .playBar {
        width: 84%;
    }

    .hamburger {
        display: block;
        width: 55px;
    }

    .swapL,
    .swapR {
        display: none;
    }
    .cards {
        margin: 0 20px;
        width: 70%;
        padding-bottom: 20px;
    }


    .play {
        width: 20px;
        height: 20px;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 130px;
        right: 26px;
        opacity: var(--a);
        transition: all 0.5s ease-out;
    }

    .songList ul {
        max-height: 90vh;
    }
}


@media (max-width:1250px) {
    .left {

        position: absolute;
        left: -120%;
        transition: all 1s;
        z-index: 1;
        width: 233px;
        background-color: black;
        width: 433px;

    }

    .close {
        display: block;
        position: absolute;
        left: 85%;
        top: 30px;
    }

    .cardContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        overflow-y: auto;
        gap: 15px;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 80vh;
        max-width: 88vw;
        justify-content: center;
       
      

    }

    .songList ul {
        max-height: 65vh;
    }

    .right {
        width: 100%;
        margin: 0;
    }

    .spotifyPlaylists {
        padding: 0px;
    }

    .playBar {
        width: 84%;
        font-size: 12px;
        height: 95px;
    }


    .hamburger {
        display: block;
        width: 55px;
    }

    .card {
        /* width: 100%; */
        height:100%;
    }

    .songButtons {
        bottom: 0;
        position: relative;
    }
.songInfo,.songTime{
    margin: auto;
    width: auto;
}
    .swapL,
    .swapR {
        display: none;
    }
    .aboveTrack{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-bottom: 24px;
    }
}